package handlers

import (
	"net/http"
	"chill-pi/database"
	"chill-pi/models"
	"chill-pi/utils"
	"github.com/gin-gonic/gin"
)

type {{ResourceName}} Resource struct{}

func ({{ResourceName}} Resource) GetAll(c *gin.Context) {
	c.JSON(http.StatusOK, gin.H{"message": "GET all {{resourceName}}s"})
}

func ({{ResourceName}} Resource) GetOne(c *gin.Context) {
	c.JSON(http.StatusOK, gin.H{"message": "GET one {{resourceName}}"})
}

func ({{ResourceName}} Resource) Create(c *gin.Context) {
	c.JSON(http.StatusCreated, gin.H{"message": "CREATE {{resourceName}}"})
}

func ({{ResourceName}} Resource) Update(c *gin.Context) {
	c.JSON(http.StatusOK, gin.H{"message": "UPDATE {{resourceName}}"})
}

func ({{ResourceName}} Resource) Delete(c *gin.Context) {
	c.JSON(http.StatusOK, gin.H{"message": "DELETE {{resourceName}}"})
}

func ({{ResourceName}} Resource) Patch(c *gin.Context) {
	c.JSON(http.StatusNotImplemented, gin.H{"error": "PATCH ikke implementert"})
}
